<a href="https://colab.research.google.com/github/nishanazar/Basic_Python/blob/main/class6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
user ={
    "name" : "nisha",
    "age": 22,
    "city": "karachi"
}
print(user)
print(user["name"])

{'name': 'nisha', 'age': 22, 'city': 'karachi'}
nisha

In [ ]:
user: dict ={
    "name" : "nisha",
    "age": 22,
    "city": "karachi"
}
print(user)
print(user["name"])

user["name"] = "Aiza" # update the property
user["class"] = "Five"   #add one property
print(user)

{'name': 'nisha', 'age': 22, 'city': 'karachi'}
nisha
{'name': 'Aiza', 'age': 22, 'city': 'karachi', 'class': 'Five'}

In [ ]:
students = [
{
    "name": "ali",
    "subject": "english",
   " roll_number": 1234
},
                  {
    "name": "aiza",
    "subject": "urdu",
   " roll_number": 12345
},
                  {
    "name": "hashir",
    "subject": "sindhi",
   " roll_number": 123456
},
]

print(students)
print(students[1])
print([students[0]["name"], students[1]["name"], students[2]["name"]])

[{'name': 'ali', 'subject': 'english', ' roll_number': 1234}, {'name': 'aiza', 'subject': 'urdu', ' roll_number': 12345}, {'name': 'hashir', 'subject': 'sindhi', ' roll_number': 123456}]
{'name': 'aiza', 'subject': 'urdu', ' roll_number': 12345}
['ali', 'aiza', 'hashir']

loop in python

In [ ]:
fruits = ["apple", "banana", "orange", "watermelon", "cherry"]

for fruit in fruits:
  print(f"My favourite {fruit}!")

My favourite apple!
My favourite banana!
My favourite orange!
My favourite watermelon!
My favourite cherry!

In [ ]:
countdown = 10

while countdown >=1:
  print(f"{countdown}")
  countdown -= 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
numbers = [1,2,3,4,5]
for num in numbers:
 print(f"{num ** 2}")

1
4
9
16
25