<a href="https://colab.research.google.com/github/nishanazar/Basic_Python/blob/main/Practice_Question_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Practice Question**

In [ ]:
user_name = str(input("Enter your first Name: "))
print(len(user_name))

In [ ]:
text = "hello i am $ dollar "
print(text.find("$"))

In [ ]:
entered_number = int(input("Enter your number: "))
if (entered_number % 2 == 0):
    print("This is Even number")
else :
    print("This is Odd number")

In [ ]:
a = int(input("Enter your first number: "))
b = int(input("Enter your second number: "))
c = int(input("Enter your third number: "))

if(a>= b and a>=c):
    print("First number is largest number", a)
elif(b>=c):
    print("Second number is largest number", b)
else:
      print("third number is largest number", c)

In [ ]:
num = int(input("Enter number: "))

if( num %7 == 0):
     print("multiple of 7")
else:
     print("not multiple in 7 ")

In [ ]:

movie_list =[]
movei1 = str(input("Enter 1 movie: "))
movei2 = str(input("Enter 2 movie: "))
movei3 = str(input("Enter 3 movie: "))

movie_list.append(movei1)
movie_list.append(movei2)
movie_list.append(movei3)

print(movie_list)

In [ ]:

movie_list =[]
movei1 = str(input("Enter 1 movie: "))
movei2 = str(input("Enter 2 movie: "))
movei3 = str(input("Enter 3 movie: "))

movie_list.append(movei1)
movie_list.append(movei2)
movie_list.append(movei3)

print(movie_list)

In [ ]:
grade = ["C", "D", "A", "A", "B", "B", "A"]
print(grade.count("A"))

In [ ]:
grade = ["C", "D", "A", "A", "B", "B", "A"]
grade.sort()
print(grade)

In [ ]:
dictionary = {
     "table": ["a piece of furniture", "list of facts & figures"],
     "cat": "a small animal"
}

print(dictionary["table"])

In [ ]:
list_subjects = {"python", "java", "c++", "python", "javascript","java", "python", "java", "c++", "c"}
print(len(list_subjects))

In [ ]:

subject_dic = {}

subject1 = str(input("Enter your English marks? "))
subject_dic.update({"English": subject1})

subject2 = str(input("Enter your Sindhi marks? "))
subject_dic.update({"Sindhi": subject2})

subject3 = str(input("Enter your Urdu marks? "))
subject_dic.update({"Urdu": subject1})


print(subject_dic)

In [ ]:
value = {9, "9.0"}
print(value)

In [ ]:
for num in range(1, 101):
     print(num)

In [ ]:
for num in range(100, 0, -1):
     print(num)

In [ ]:
nums = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

idx = 0
while idx < len(nums):
     print(nums[idx])
     idx += 1

In [ ]:
nums = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

x = 36
i = 0
while i < len(nums):
     if(nums[i] == x):
          print("found")
     print(nums[i])
     i += 1

In [ ]:
n = 2
i = 1

while i <= 10:
      print("2 x", i, "=", n*i)
      i += 1

In [ ]:
nums = [1, 4, 9, 16, 25, 36, 49, 64, 82, 100]

n = 1
sum = 0

while n < len(nums):
      sum += nums[n]
      n += 1
print(sum)

In [ ]:
num = [1,2,3,4,5]
def add(list):
      return list
print(add(num))

In [ ]:
# convert USD to ING
usd_value = input("Ender USD: ")
def converter(usd_value):
      inr_value = usd_value * 83
      print(usd_value ,  'USD = ', inr_value, 'INR')

converter(2)